


  <div class="container">
    <div class="backbox">
      <div class="loginMsg">
        <div class="textcontent">
       <p class="title">  <b> ORTIFARM</b></p>
        <p>logoo...</p>
        </div>
      </div>
      <div class="signupMsg visibility">
        <div class="textcontent">
          <p class="title"></p>
          <p></p>
          <button id="switch2">LOG IN</button>
        </div>
      </div>
    </div>
    <!-- backbox -->

    <div class="frontbox">
      <div class="login">
        <h2>LOG IN</h2>
        <div class="inputbox">
          <input type="text" name="email" placeholder="  EMAIL">
          <input type="password" name="password" placeholder="  PASSWORD">
        </div>
        <br><br>
        <p>Olvidó su Contraseña?</p>
        <button>Ingresar</button>
      </div>

      <div class="signup hide">
        <h2>SIGN UP</h2>
        <div class="inputbox">
          <input type="text" name="fullname" placeholder="  FULLNAME">
          <input type="text" name="email" placeholder="  EMAIL">
          <input type="password" name="password" placeholder="  PASSWORD">
        </div>
        <button>SIGN UP</button>
      </div>

    </div>
    <!-- frontbox -->
  </div>


